<!DOCTYPE html>
<html>
<head>
    <title>Subir artículos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}?v=1">
</head>
<body>
    <h1>Subir artículos</h1>

    <form method="POST" action="/upload" enctype="multipart/form-data">
        <label for="title">Título:</label>
        <input type="text" name="title" id="title">

        <label for="price">Precio:</label>
        <input type="text" name="price" id="price">

        <label for="image">Imagen:</label>
        <input type="file" name="image" id="image">

        <input type="submit" value="Subir">
    </form>

    <ul>
        {% for article in articles %}
        <li>
            <h3>{{ article[1] }}</h3>
            <p>Precio: {{ article[2] }}</p>
            <img src="{{ url_for('static', filename='uploads/' + article[3]) }}" alt="Imagen">
            <form action="{{ url_for('delete', article_id=article[0]) }}" method="GET" style="display: inline-block;">
                <input type="submit" value="Eliminar">
            </form>
            <form action="{{ url_for('update', article_id=article[0]) }}" method="GET" style="display: inline-block;">
                <input type="submit" value="Actualizar">
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>

